.home_container {
  padding: 60px 100px 0px 100px;
}

.cardmovie_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  align-items: center;
  margin-bottom: 100px;
}
